<div class="login-container">
<form class="text-center border border-light p-5" (ngSubmit)="onSubmit()">
<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	<input type="email" name="userName" id="inputUsername" [(ngModel)]="username" class="form-control mb-4" placeholder="Username" required autofocus>
	<input type="password" name="userPassword" id="inputPassword" [(ngModel)]="password" class="form-control mb-4" placeholder="Password" required>
	<div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>	
</form>
</div>